<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="active">APS Solu&ccedil;&atilde;o</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarHeader">
    <ul class="navbar-nav">
      <li class="nav-item dropdown" routerLinkActive="active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarHeaderCadastros" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Cadastros
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarHeaderCadastros">
          <a class="dropdown-item" [routerLink]="['/cadastro/recurso']">Recursos</a>
          <a class="dropdown-item" [routerLink]="['/cadastro/cliente']">Clientes</a>
          <a class="dropdown-item" [routerLink]="['/cadastro/ordem']">Ordens</a>
          <a class="dropdown-item" [routerLink]="['/cadastros/clientes']" [queryParams]="{inicio: 0}">Clientes (OLD)</a>
        </div>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/planejamento']">Planejamento</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/about']">Sobre</a>
      </li>
    </ul>
  </div>
</nav>